[2014-12-21 06:20] colonelpanic8 opened #2 "org-projectile:project-root-of-filepath: Wrong type argument: arrayp, nil"
Not sure whats going on here yet, but I just noticed that this started happening. Has anyone else seen this?

[2014-12-21 06:52] #2 closed, assigned to nobody

[2015-02-21 09:29] halbtuerke opened #4 "Saving todos in project specific org-file"
Hi,

is it possible to configure org-projectile so that it's capturing todos in project specific files in the root of the project?

I have a habit of putting a `todo.org` file into my projects and it would be great if org-projectile would use this file instead of a global org-file.

Thanks in advance

[2015-02-21 09:48] IvanMalison commented on #4
I've been thinking about adding this functionality. It shouldn't be hard to do, but as of right now this is not possible. Let me see if I can throw something together quickly to support this.

[2015-02-21 11:15] halbtuerke commented on #4
That would be really great!

[2015-02-21 20:49] IvanMalison commented on #4
Okay -- I think I've added the behavior that you wanted. It probably needs some work/testing, so if you could give it a whirl that would be great.

Do you use org-agenda at all? Should org-projectile provide a function that lists all existing project files so that they can be added to your agenda files?

[2015-02-21 21:04] IvanMalison commented on #4
Oh, so the way you use it is by calling
(org-projectile:per-repo)

You can do this interactively, but i would recommend that you add it to your config.

As of right now, the todos are all filed to the top level.

[2015-02-22 07:25] halbtuerke commented on #4
Wow, that was fast! I've played around with this new functionality and as far as I'm concerned it works great. It even created a new `todo.org` in projects where the file wasn't present.

Actually no.

That I find a little bit weird. Is this on purpose so that one can switch between both ways of adding todos? Otherwise I would suggest to just provide a way to toggle this via an option.

Thank you

[2015-02-22 07:34] IvanMalison commented on #4
Well I went a little overboard with the generality of this feature, and made it so that you can provide custom functions that basically describe how to find the appropriate location to file org todos, so `org-projectile:per-repo` sets the value of three different variables to appropriate function names which must be set together in order to get the functionality that you described.

calling `(org-

[2015-02-22 07:35] IvanMalison commented on #4
Can I close this issue?

[2015-02-22 07:50] halbtuerke commented on #4
That seem's quite obvious but as my projects are usually version-controlled I put the todo.org file directly into the repo. So no extra syncing efforts there.

Yes.

[2015-02-22 07:51] #4 closed

[2015-03-21 14:47] kennir opened #5 "customize location for each project on one-repo mode"
How can I customize the location for each project? I have many projects are same name,so the location also be confused together

[2015-03-21 17:28] IvanMalison commented on #5
Which Todo storage system are you using? Single file, per repo, hybrid?
On Mar 21, 2015 7:47 AM, "Ken Zhang" <notifications@github.com> wrote:

[2015-03-21 17:31] IvanMalison commented on #5
Oh oops, just saw that you are using single file mode. Unfortunately, as of
right now, there is not really a way to do this. It is sort of assumed that
project names will be unique. There are potentially some ways this could be
fixed. Perhaps uniquefy could be applied to project names and the
containing directory would be used to identify the project. Alternatively,
I could add an option that woul

[2015-03-21 19:35] kennir commented on #5
Yeah, I'm using single file mode, I can't put a irrelevant file to my project folder,  maybe use full path to identify projects is ok .

I'd really like this plugin, It's very useful, thank you for your job

[2015-03-21 19:45] IvanMalison commented on #5
Thats good yo hear; I'm glad that other people are using it. I can make it
so that you can supply a custom function to generate the heading from the
filepath. In your case you would just supply an identity function to get
full filepath headings.
On Mar 21, 2015 12:35 PM, "Ken Zhang" <notifications@github.com> wrote:

[2015-03-22 01:58] IvanMalison commented on #5
Hmmm. This is actually a bit harder to fix than I originally thought it was. It's going to require that I change the underlying way that org-projectile deals with projects so that everything is done with filepaths (probably for the best anyway).

[2015-03-22 07:20] kennir commented on #5
Ok,Maybe you can add this feature on next major updating :)

[2015-04-02 00:10] IvanMalison commented on #5
Yeah. I'd definitely like to do this, but it actually seems sort of hard, I want to be able to let people continue to simply use project names to identify their projects. This is important for me because i use org-projectile across multiple computers where the projects are often found at different filepaths. I'm not really sure what the right way to approach the issue is.

[2015-08-12 21:48] IvanMalison opened #6 "Insertion into subheading in single-file mode may be broken"
new org-mode version?
adding [/] to headings?

[2015-08-13 07:06] IvanMalison commented on #6
Still not entirely sure why this broke. Fixed in 1aebfc66199862b62dd6614b4a5c11dda86abca1

[2015-08-13 07:06] #6 closed

[2015-08-14 11:24] IvanMalison opened #7 "Don't run file-truename on nil (handle deleted projects gracefully)"
** TODO Don't run file-truename on nil (handle deleted projects gracefully)
#+BEGIN_SRC
Debugger entered--Lisp error: (wrong-type-argument arrayp nil)
  file-truename(nil)
  org-projectile:project-root-of-filepath("~/")
  org-projectile:project-heading-from-file("~/")
  mapcar(org-projectile:project-heading-from-file ("~/Uber/supply/" "~/Dropbox (Personal)/" "~/Projects/.emacs.d/" "~/dotfiles/" "~

[2015-09-03 00:53] mdorman opened #8 "Perhaps tag a release?"
There haven't been any changes in a couple of weeks---things seem to be settling down.  Perhaps tag a release so melpa-stable can pick it up, so people don't necessarily have to set themselves up for the bleeding edge on melpa?

[2015-09-03 04:57] IvanMalison commented on #8
I haven't submitted a recipe for melpa stable, but I just bumped the minor version number. Feel free to submit the recipe your self (this comment should be considered official approval for org-projectile's placement on melpa stable).

[2015-09-03 09:13] mdorman commented on #8
In fact, I believe melpa-stable *should* pick it up automatically.  But thanks for also explicitly approving, too.  I'll close the issue when it shows up.

[2015-09-03 10:57] mdorman commented on #8
Sorry, I didn't notice until now---melpa-stable won't pick it up until you actually tag the release in git.

[2015-09-03 18:10] IvanMalison commented on #8
Ahh yeah that make sense. Made the tag. Are you sure you want to use melpa-stable for this package? It has broken twice now because of tweaks to the org-mode logic. I've been pretty good about putting out a quick fix (since this package is pretty essential to my own org workflow). I guess I can just make sure to make a patch version bump in those cases in the future.

I guess I have put out slight

[2015-09-03 20:52] mdorman commented on #8
Your points are very reasonable---the emacs package ecosystem is still immature in regards to keeping all that sort of stuff straight.  And it might all prove unworkable, I dunno.  But I have had enough random breakage from following bleeding-edge development on melpa that it seems worth a try to see if we can't start to make things a little more predictable.

So for the packages I'm using---and B

[2015-09-04 07:29] IvanMalison commented on #8
Looks like its on melpa stable.

[2015-09-04 07:29] #8 closed

[2015-09-04 10:17] mdorman commented on #8
Yep.

[2015-11-03 08:04] Mekk commented on #7
I faced this error. In my case ("/tmp/ble" was temporary mercurial repo which I dropped but which still is remembered by projectile).

[code]

[2015-11-03 08:11] Mekk commented on #7
The following fix helps

[code]

[2015-11-03 08:24] Mekk opened #10 "org-projectile:known-projects shouldn't load remote projects"
My attempts to call `org-projectile:project-todo-completing-read` take long time, ask passwords (and then end up in crash which may be related, or not).  The reason is that they include remote (scp) paths for remote repositories I happened to open in the past.

There are two parts of this issue:
- (easier) org-projectile:project-root-of-filepath could limit itself to local paths
- (harder) the who

[2015-11-03 22:12] IvanMalison commented on #10
I feel like this is more of an issue with projectile than with org-projectile. You should have the same issue when switchign to a project wiht projectile.

[2015-11-04 14:39] Mekk commented on #10
projectile does not acess the path until I pick it, it uses the list on purely textual basis. I didn't read the code but it never asked me for remote ssh password (unless I actually picked remote project).

[2016-04-17 21:41] IvanMalison opened #13 "file-truename(nil)"
[code]

[2016-04-17 23:05] IvanMalison opened #14 "(invalid-function helm-build-sync-source)"
[code]

[2016-05-17 14:59] jtamagnan opened #15 "Helm requirement"
It seems like this project recently started depending on and installing helm. It seems like all of the helm code is used to add the `org-projectile:template-or-project` function would it be possible to place all relevant helm code in a block like:
[code]
and then remove the dependency?

[2016-05-17 16:25] IvanMalison commented on #15
Sure. The reason the helm requirement was added is that it is needed at compile time, but i suppose that this approach would work as well

[2016-05-17 18:09] jtamagnan commented on #15
There also seems to be an issue with the current build. If 'helm-org is not required then `helm-source-org-capture-templates` is not defined and therefore `org-projectile:template-or-project` will not be properly created. I tried this with the melpa version and emacs -Q. There is a pull request fixing this issue and removing helm as a requirement upcoming shortly

[2016-05-17 18:12] jtamagnan commented on #15
The related push is #16

[2016-05-17 19:47] #15 closed

[2016-05-20 17:51] TheBB opened #17 "Per-repo mode gives nested headings"
I'm using `(org-projectile:per-repo)` and after capturing three test todos this is the result

[code]

As you can see the headings become nested. I don't think this is intentional?

[2016-05-20 17:54] TheBB opened #18 "Customization of todo entry properties"
`org-projectile:project-todo-entry` doesn't allow any user customization of properties, e.g. `:prepend`, `:empty-lines` etc. These are popular user options and should be available.

[2016-05-20 20:26] IvanMalison commented on #14
This seems to happen when org-projectile is byte compiled without helm-source being required.

[2016-05-20 20:32] #18 closed

[2016-05-20 21:03] IvanMalison commented on #17
Thanks for the report. I'm not currently able to replicate the issue. Can you post additional details about your configuration including:

org/emacs version
org configuration

etc.

[2016-06-14 09:31] TheBB commented on #17
Hi again, sorry for the delay. I'm working on putting this in Spacemacs instead of org-repo-todo. I've been able to reproduce this on Org 8.3.4 with no additional configuration other than:

[code]

The sample configuration in the README for non-per-project TODO files also appears not to work as intended. All the entries become top-level. That also with org 8.3.4.

Just now I tried with Org 8.2.10

[2016-06-14 18:26] IvanMalison commented on #17
oh cool. thats exciting

Thanks for the sample config. I'll try to replicate the issue and see if I can tease apart what is going on

[2016-06-14 18:44] #13 closed

[2016-06-14 18:45] #7 closed

[2016-06-14 20:34] IvanMalison commented on #10
I see. I think that the password prompts come from when we run file-truename on the path. This is still something I would like to do, but ill try to come up with a way to avoid this.

[2016-06-14 20:50] IvanMalison commented on #17
Looks like this bug was introduced in 23c692c1e740b65d099011f68d90377ef7481302

I'm working on a quick hack to fix this right now. Unfortunately the code is going to be really ugly (as a lot of the org-projectile code is, because the original org-capture code was not written in a very modular way).

[2016-06-14 20:52] TheBB commented on #17
Yeah, I've noticed. :-/

Thanks for taking a look.

[2016-06-15 05:58] #17 closed

[2016-06-16 04:07] IvanMalison commented on #17
@TheBB can you verify that things are working for you?

[2016-06-16 13:53] TheBB commented on #17
Yep, it's fine now. Thanks!

[2016-06-20 00:12] IvanMalison opened #20 "user-error: Not on a heading"
sometimes happens in hybrid and single file mode

[2016-07-22 01:49] IvanMalison commented on #14
perhaps there should be a separate helm-org-projectile that explicitly depends on helm to avoid this

[2016-09-09 22:05] IvanMalison opened #21 "org-insert-subheading: Buffer is read-only:"
This happens when attempting to file from an existing header from a read-only buffer

[2016-11-01 19:38] IvanMalison commented on #21
This should be fixed now

[2016-11-01 19:38] #21 closed

[2016-11-01 19:39] IvanMalison commented on #10
@Mekk I added an option that is enabled by default that skips over projects that require any special access. Things should work now.

[2016-11-01 19:39] #10 closed

[2016-11-03 23:07] et2010 opened #22 "Byte compiling error: void variable: occ-build-capture-template (broken in emacs 24)"
While installing org-projectile via melpa, I got this error:

`org-projectile.el:33:1:Error: Symbol's value as variable is void: occ-build-capture-template`

The same problem happens when I try to byte compile `org-projectile.el` or load `org-category-capture.el`.

edit:
I removed all the `elc` file, and try to load the uncompiled `org-category-capture.el`. This time the error message is a little

[2016-11-04 00:22] IvanMalison commented on #22
ah are you using emacs24 or 25?

[2016-11-04 00:27] et2010 commented on #22
I'm using 24

[2016-11-04 00:31] IvanMalison commented on #22
okay, damn. yeah let me see if I can get this working in 24 again. Thanks for the report.

[2016-11-04 00:42] samspills commented on #22
Hey! I was struggling with this (also on emacs 24), and switching line 57 of org-category-capture.el to `defmethod` instead of `cl-defmethod` fixed the issue and didn't seem to have any negative side-effects.

Still sort of new to lisp though, not sure if that's a good solution.

[2016-11-04 01:09] IvanMalison commented on #22
well the problem is that with certain optional arguments this will not work. I'm going to try to do something a little better than that.

[2016-11-04 01:25] IvanMalison commented on #22
@samspills @et2010 I can't even seem to get this to fail in 24.4.

Can you guys give me the exact version numbers of emacs you guys are on?

[2016-11-04 01:28] samspills commented on #22
#### System Info :computer:
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.200.5
- Spacemacs branch: master (rev. 664ba6a)
- Graphic display: t
- Distribution: spacemacs
- Editing style: vim
- Completion: helm
- Layers:
[code]

[2016-11-04 01:35] IvanMalison commented on #22
Success -- failed travis CI:
https://travis-ci.org/IvanMalison/org-projectile/jobs/173139097

Now to fix.

[2016-11-04 01:45] IvanMalison commented on #22
Build is green https://travis-ci.org/IvanMalison/org-projectile/builds/173140271

You'll need to wait for a bit for this to land on melpa...

[2016-11-04 01:45] #22 closed

[2016-11-04 01:48] #20 closed

[2016-11-06 22:22] IvanMalison commented on #14
I'm going to fix this by moving the org-projectile helm functions into their own package

[2016-11-24 15:07] mdorman opened #24 "Obsolete usage of pcache-repository"
We're throwing a warning; I suspect, based on sigma/pcache#5, that it's been going on for at least most of a year:

[code]

[2016-11-24 17:55] IvanMalison commented on #24
Yeah, and org-projectile isn't even using pcache currently, I don't think.

[2016-11-24 18:31] mdorman commented on #24
Hadn't even noticed that.  Added #25 to resolve it by removing the reference.

[2016-11-24 19:10] #24 closed

[2016-12-05 20:06] yyadavalli opened #27 "Failure in org-projectile:project-todo-completing-read"
Invocation of `org-projectile:project-todo-completing-read` fails with the following message.

[code]

Looks like the `make-instance` is not setup correctly here
https://github.com/IvanMalison/org-projectile/blob/master/org-projectile.el#L561

[2016-12-05 20:45] #27 closed

[2016-12-05 21:57] IvanMalison commented on #27
@yyadavalli let me know if that fix works for you

[2016-12-06 04:07] yyadavalli commented on #27
Thanks for the quick response.

I am able create the TODO now, but after closing the capture buffer, the `projects.org` buffer is left open instead of going back to the buffer I started from.

I am not sure if this is a side effect of my personal configuration.

[2016-12-06 08:14] IvanMalison commented on #27
oh hmmm, yeah I see that behavior as well. let me take a look.

[2016-12-16 09:38] labe-me opened #28 "How to define target heading for all projects?"
Hello, I'd like to target an heading inside a file,

I have my ~/Notes/work.org file which contains many things including a "* Projects " entry which should receive the content generated by org-projectile.

Is it possible?

Thank you!

[2016-12-16 18:02] IvanMalison commented on #28
It should be pretty easy to make this possible

[2017-01-14 19:33] vmalloc opened #29 "Getting error "org-projectile:insert-or-goto-heading: Wrong number of arguments: #[(&optional arg invisible-ok)""

[2017-01-19 16:42] IvanMalison commented on #29
Can you provide some additional details?

What version are you using? When does this happen? Do you have a reliable repro?

[2017-01-20 18:56] vmalloc commented on #29
After closer inspection it seems to have happened because I wasn't using the latest version of org-mode. Sorry for the trouble!

[2017-01-20 18:56] #29 closed

[2017-07-19 06:05] IvanMalison commented on #28
Hey @labe-me This is now possible in the big-changes branch (https://github.com/IvanMalison/org-projectile/tree/big-changes). Would you mind checking that out and seeing if it works for you?

[2017-07-29 16:17] yatesco opened #31 "`(org-projectile-per-repo)` produces error"
On the latest package `(org-projectile-per-repo)` throws a Symbol void error.

To reproduce, install `org-projectile` and then eval the following (note: copied from the README):
[code]

[2017-07-29 18:54] IvanMalison commented on #31
Yeah, sorry, That function no longer exists. I just added a function (org-projectile-per-project) that will do the same thing.

[2017-07-29 18:54] #31 closed

[2017-07-29 18:55] IvanMalison commented on #14
This is fixed now that org-projectile-helm is a separate project.

[2017-07-29 18:55] #14 closed

[2017-07-29 20:26] yatesco commented on #31
No worries, shall I do a PR to update the front page?

[2017-07-29 21:20] IvanMalison commented on #31
I already did, I think

[2017-07-29 21:21] IvanMalison commented on #31
were you able to get the new version of org-projectile and see if it works for you?

[2017-07-29 22:48] yatesco commented on #31
Apologies - you did already :-). Thanks for the quick turn around, I will check tomorrow when I get back to the computer.
--
  Colin Yates
  colin@colinyates.co.uk

On Sat, 29 Jul 2017, at 10:21 PM, Ivan Malison wrote:

Links:

  1. https://github.com/IvanMalison/org-projectile/issues/31#issuecomment-318860440
  2. https://github.com/notifications/unsubscribe-auth/AALE3U-PjtVn2q0B5RghW4-a6iGshdGLk

[2017-07-30 10:22] yatesco commented on #31
Works perfectly - thanks.

[2017-08-12 15:17] aaronjensen opened #32 "org-projectile-location-for-project fails with wrong-number-of-arguments"
This is happening in spacemacs, originally reported [here](https://github.com/syl20bnr/spacemacs/issues/9408).

`org-projectile-location-for-project` fails with:

[code]

[2017-08-12 15:28] aaronjensen commented on #32
This seems to fix it:

[code]

[2017-08-12 15:32] aaronjensen commented on #32
Huh, it looks like that function used to do much more. This was the old version:

[code]

If I'm not mistaken, it would actually switch to the buffer and navigate to the right location. Spacemacs used this directly:

[code]

My "fix" above doesn't at all jive with the original spirit of this function. I'm guessing this is something that just got lost in the shuffle of the refactor.

[2017-08-12 17:52] #32 closed

[2017-08-12 18:01] aaronjensen commented on #32
Thanks @IvanMalison, that got rid of the error, however the function is now very different than what it used to be, which is what spacemacs relied on. The idea was to go directly to the org file and the location for the project. How would one do this today? If that doesn't belong in org-projectile, no problem, we can implement it in spacemacs.

Thanks!

[2017-08-12 22:01] IvanMalison commented on #32
I just added `org-projectile-goto-location-for-project` that should handle this use case.

[2017-08-13 05:58] aaronjensen commented on #32
Looks great, thank you!

[2017-08-18 18:15] yyadavalli opened #33 "Creating a TODO fails with error 'Wrong type argument: number-or-marker-p, nil'"
This is true for both
 `org-projectile-project-todo-completing-read` and `org-projectile-capture-for-current-project`

I was not able to find anything by debugging. Any pointers would be appreciated.

[2017-08-19 04:02] IvanMalison commented on #33
can you toggle-debug-on-error to get a backtrace?

[2017-08-19 04:41] yyadavalli commented on #33
Sorry I forgot to post it earlier
[test.txt](https://github.com/IvanMalison/org-projectile/files/1236058/test.txt)

[2017-08-19 14:36] IvanMalison commented on #33
Do you have the very latest version?

Is the file you are targeting an org-mode file?

[2017-08-19 14:40] yyadavalli commented on #33
Yes and yes.

[2017-08-19 15:15] IvanMalison commented on #33
Can you go to the relevant line in the source
and change it to
[code]

I'm pretty sure that this will sort of fix your problem, but that function should not be returning nil if the file is actually in org-mode.

[2017-08-19 15:27] #33 closed

[2017-08-19 15:27] IvanMalison commented on #33
@yyadavalli let me know if this fixed your issue.

[2017-08-19 15:40] yyadavalli commented on #33
@IvanMalison This fixed the issue. Thanks for the amazing response.

[2017-10-06 13:54] PrestanceDesign commented on #28
Hi,

The branch big-changes doesn't exists anymore...was it merged ?

Best regards.

[2017-10-06 13:59] PrestanceDesign opened #34 "Org-projectile-linked-capture-template on Spacemacs"
Hi,

I use Spacemacs and I don't know how to using the capture template **org-projectile-linked-capture-template**.
The goal is to use it to link TODO keyword on source code like **org-store-link** did. It's possible ?

Best regards.

[2017-10-06 15:51] IvanMalison commented on #28
@PrestanceDesign yeah, althoguh, I think that you would need to write a little bit of code to get this to work.

[2017-10-06 19:32] IvanMalison commented on #34
Both `org-projectile-capture-for-current-project` and `org-projectile-project-todo-completing-read` take an optional capture template argument.

I think that it used to be that there was an interactive function that would use org-projectile-linked-capture-template depending on whether or not the prefix argument was sent, but it no longer exists.

[2017-10-06 19:32] #34 closed

[2017-10-07 20:06] PrestanceDesign commented on #34
OK thx for the information. :+1:

Cheers.

[2017-12-10 23:52] xiaoxinghu opened #36 "capture into sub heading"
I am using one file strategy, with projects being level 1 headings. Is it possible to capture entries into sub headings? E.g. I want to capture notes into level 2 heading `** Inbox` under each projects.

[2017-12-11 01:10] IvanMalison commented on #36
This is the same as #28 right?

I've done all the legwork to support this in org-category-capture, and if you defined your own org-projectile-strategy you could probably get this to work pretty easily.

With that said, it should be relatively easy to add support to this for org-projectile now. Since this has been requested a few times, I'll probably make some quick changes to support it.

[2017-12-11 02:25] xiaoxinghu commented on #36
Not exactly the same. What #28 wanted was, if I understand it correctly:
[code]

My scenario:
[code]

My motivation was that I have a template structure for each of my projects:

[code]

I'd like to capture new notes/todos under Inbox, so that it doesn't clutter the structure.
Don't know if that's a sensible requirement or it's my own odd use case.

[2017-12-11 17:34] IvanMalison commented on #36
Oh I see. Yeah I guess I just skimmed the original issue text and assumed you were asking for the same thing.

What you are asking for is not currently possible, although it wouldn't be too hard to get things to work that way with a bit of custom code.

subclass `org-projectile-single-file-strategy` and override as follows:

[code]

Obviously you'll need to replace `code-to-navigate-wherever-you-w

[2018-03-28 09:57] Hagopian opened #37 ".projectile rules for files without extension"
I've been trying to ignore files without extension using [these git rules](https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign)+

specifically I have this in my .projectile
-*
!*/
!*.org

The first line should ignore everything, the second un-ignore directories, and in the end I only want to see .org files.

But all I get is o

[2018-03-29 09:44] Hagopian commented on #37
I just noticed that should be asked in projectile not org-projectile ...

[2018-03-29 09:44] #37 closed

[2018-05-24 14:06] chase-dwelle opened #38 "Select project for TODO capture?"
Is it possible to select the projectile project that you want to capture the task for? I am using a project-specific `TODOS.org` file in each projectile directory.

I don't know if this is the intended functionality, but in order to capture a TODO for a project, I need to call capture from an emacs buffer that has a file open within that project directory. I would like to capture a task from any b

[2018-05-24 17:46] IvanMalison commented on #38
`org-projectile-project-todo-completing-read`

[2018-05-24 17:46] #38 closed

[2018-06-01 01:58] scarletsky opened #39 "How to set path for specific projects in org-projectile-per-project mode ?"
Hi, I am a `org-projectile-per-project` user.
I'd like to add an org file to the root of  my personal projects. That is:

[code]

But in my company projects, I need to add it to sub folders.

[code]

How can I set it ?

[2018-06-01 02:43] #39 closed

[2018-06-01 04:39] scarletsky commented on #39
Wow, thanks for your quick replay !
I've checked the commit, I think the usage should be

[code]

Right ?

[2018-06-01 05:53] IvanMalison commented on #39
@scarletsky

[code]

Yes, although I'm assuming you'll want more than just "Is it equal to this one specific project" as your condition (or maybe that is all you need)?

[2018-06-01 06:01] scarletsky commented on #39
@IvanMalison Yes, I can extend the sp-projects list myself. Thanks. 😄

[2018-07-08 01:30] kingyakshaver commented on #28
I'd like this also

[2018-07-08 09:14] IvanMalison commented on #36
@xiaoxinghu Were you able to try the snippet that I posted? I think it should do what you want.

[2018-08-01 19:16] shackra opened #40 "error "Loading file c:/Users/shack/.emacs.d/elpa/org-category-capture-20180601.242/org-category-capture.el failed to provide feature ‘org-category-capture’""
I'm getting the following error when initializing `org-projectile`:

[code]

[2018-08-23 14:59] jmignault opened #41 "Computing filename when setting org-projectile-per-project-filepath"
What I want is to have a separate org file for each project to-do list and have all of them reside in ```org-directory```, so I am setting ```org-projectile-per-project-filepath``` to this function:

[code]

 But then org-projectile-todo-files contains entries like
```~/Documents/workspace/hexagram//Users/jmignault/Dropbox/org/dotfiles_todo.org```

when what I want is
```/Users/jmignault/Dropbox/o

[2018-08-23 18:10] IvanMalison commented on #41
@jmignault I'm on mobile right now so I can't confirm this, but I think `(projectile-project-name)` gives you the path to the project. It seems like you probably just want to apply `directory-file-name` to get the name of the project

[2018-08-23 20:30] jmignault commented on #41
Actually it just gives you the bare name of the project. Am I correct in assuming that if you run ```(org-projectile-per-project)``` that the only directory in which the per-project org file can reside is the project directory? ```org-projectile-per-project-filepath``` just constructs the org-file filename, correct, not the complete path to the file?

[2018-11-04 22:32] przemo commented on #36
I just wanted to reflect on the previous request. I was wondering if it is possible to define org-capture template that will behave similarly to the org-projectile-project-todo-completing-read. My goal is: before the capture chooses a project and then add customized TODO headline under already defined parent headline. I am using per-project files, and wish to capture meeting notes that will always

[2018-11-05 10:17] IvanMalison commented on #36
@przemo
I'm not sure I understand your request. If you want org-projectile to provide a capture template, it already does that. To put it under the meetings heading, you just need to write the code to direct it there, which should be easy.

[2018-11-16 04:06] przemo commented on #36
Yeah, I am very bad LISP programmer.

[2018-11-16 18:37] IvanMalison commented on #36
@przemo Should be like one line. Something like (org-goto-heading "Meetings") (I can't remember the exaxct incantation)

[2019-02-26 10:35] IvanMalison commented on #41
@jmignault Yes, as currently formulated, the per project strategy does a concat of the project filepath with `org-projectile-per-project-filepath`.

You could specify additional peices of path in `org-projectile-per-project-filepath`, but it will alway be interpreted relative to the projectile path. It sounds like you want to store the file somewhere else completely, correct?

Doing this is certai

[2019-02-26 10:36] IvanMalison commented on #40
That's really strange. I'm not able to repro. Please comment or react with a like if you are seeing this issue.

[2019-02-26 16:09] shackra commented on #40
I don't experience this anymore, for some reason.

[2019-02-26 16:09] #40 closed

[2019-05-15 17:29] colonelpanic8 opened #43 "(wrong-type-argument stringp nil) in org-agenda skip"
Looks like something may have changed in org-mode that is breaking our category integration. Haven't had time to look in to it yet.
[code]

[2019-05-18 22:37] xeijin opened #44 "Prevent `org-projectile-todo-completing-read` from opening `todo.org` in a new buffer"
I would like it to behave exactly as `org-capture` does today, that is pop-up a single buffer with the heading inserted ready to edit, and not additionally pop-up a buffer with the whole file (which seems to be the current, redundant behaviour of `org-projectile-todo-completing-read`

[2019-05-18 23:52] IvanMalison commented on #44
@xeijin This should be the behavior of org-projectile.

Can you reproduce this issue with a completely clean configuration? Org-projectile also offers a capture template so that you can use it through org-capture.

[2019-05-19 13:49] xeijin commented on #44
Replicated with a fresh session ``emacs -q``

[code]

here's a GIF of the test running - issue is visible at the end where you can see the additional buffer with the org file, separate to the capture buffer:

![Kapture 2019-05-19 at 14 43 25](https://user-images.githubusercontent.com/291385/57983027-e92e4800-7a44-11e9-8148-9d4bebff8685.gif)

[2019-05-24 21:19] xeijin commented on #44
@IvanMalison any news on this one?

[2019-05-25 01:33] IvanMalison commented on #44
I'm not really sure what would be causing this, it might have to do with recent changes.

[2019-05-30 20:03] xeijin commented on #44
OK ... any plans to try and fix? If not going to need to roll my own ...

[2019-05-30 20:07] IvanMalison commented on #44
@xeijin No plans, but not sure why you wouldn't just try to fix the issue in org-projectile yourself rather than roll your own.

I've noticed that a few things have gotten wonky with the interaction with org-capture and this library recently. I would recommend you start by looking here:

https://github.com/IvanMalison/org-projectile/blob/0291ef425c96d02d634fc7e199146d7c3da0455b/org-category-captur

[2019-06-08 11:51] xeijin commented on #44
@IvanMalison thanks! I was actually looking for a bit of a clue for where to get started, I did try taking a look myself initially, but I'm new to programming (as well as elisp) and haven't really wrapped my head around object-oriented stuff (which I assume is how you implemented).

I'll take a look and submit a PR if I get anywhere

[2020-03-03 21:03] Cumol commented on #36
I tried it out @IvanMalison  with the hope to achieve something else. I wanted org-projectile to create a subheading with the base-name of the file I was capturing from and then insert the todo in there.

So I tried the following:

[code]

But it did not work. Any idea what I am doing wrong?

[2020-03-03 22:38] IvanMalison commented on #36
@Cumol what is `file-name-base` I don't see where that is defined. This should just error right?

You're also missing a paren on the last line.

[2020-03-03 22:42] IvanMalison commented on #36
@Cumol Also, I don't think the code you wrote there would ever create a new heading, it would only go to an existing heading.

[2020-03-03 23:33] IvanMalison commented on #36
Something like this shoudl work:

[code]

[2020-03-04 07:47] Cumol commented on #36
When starting emacs I get the following message:

[code]

When trying out `org-projectile-capture-for-current-project` I get the indirect buffer to enter my entry but it is just appended to the end of the file and not as intended.

I have very little experience with emacs lisp so I am sorry if this feels one-sided.

My following setup of org-projectile is the following:

[code]

[2020-03-04 08:25] IvanMalison commented on #36
Given parent class org-projectile-single-file-strategy is not a class

That is likely because you havent required org-projectile before this definition.

[2020-03-04 08:25] IvanMalison commented on #36
i.e. all of that stuff needs to appear inside the config of your org-projectile package

[2020-03-04 08:32] Cumol commented on #36
Moved everything into the `(progn) `call and restarted emacs
Tried `org-projectile-capture-for-current-project` as before and got the following error:

`occ-get-category-heading-location: Symbol’s function definition is void: t`

[2020-03-26 23:09] shrysr commented on #44
I was just about to ask for help on exactly the same issue and can confirm that the fix appears to solve it. Thank you both as this was getting rather annoying and I'm a elisp noob :).

Fwiw : I'm on Emacs 27.0.90 and using straight.el for my org mode files, and use a single file to capture all my project todo's.

[2020-03-27 01:04] IvanMalison commented on #44
@shrysr Yep, looks like #45 fixed this!

[2020-03-28 19:33] thanhvg opened #46 "commit 7ab90ac breaks org-projectile-goto-location-for-project"
7ab90ac made change to `occ-capture-goto-marker` but it breaks `org-projectile-goto-location-for-project`.

Now `org-projectile-goto-location-for-project` which uses `occ-capture-goto-marker` won't switch to org buffer anymore but opens it it background.

[2020-03-29 03:15] IvanMalison commented on #44
@jgrey4296 I had to revert #45 because of #46 . I would appreciate it if you could look in to it and try to come up with a fix that doesn't interfere with other stuff. #45 actually also broke the test suite. Make sure that whatever fix you come up with doesn't do that as well.

[2020-04-14 04:15] coppercu opened #47 "How to captrue project note info in two step like this?"
Hi,
	I'd like to add an org file to echo of projects, like "note.org"

Show projects in minibuffer when call a command like org-projectile-project-todo-completing-read

`[org-projectile] Record TODO for project: {org-projectile | emacs | ...}`

After select project, A new buffer to show and select template like org-capture

[code]

Anyone have any idea on how to do this?

[2020-04-14 07:54] IvanMalison commented on #47
[code]

This almost works, except that the return value for (org-capture-select-template) is not correct. This is because what is expected here is actually a string template rather than an actual capture template which is a lisp value. Capture template in all of their generality are not really supported by org-projectile, since org-projectile is doing a lot of the work (selecting where to put thin

[2020-04-16 03:08] coppercu commented on #47
Thank you for your reply !

I am add this code to org-projectile.el and call this command in emacs, All is works well until enter keyword [n], and report error in minibuffer like this

[code]

Just like you reminded before.

I am try to write a funciton to do this, Because elisp is too hard for me, it will take a long time。

[2020-04-16 05:04] IvanMalison commented on #47
if you paste string versions of the capture templates you want here i can show you.

[2020-04-16 06:58] coppercu commented on #47
Thank you very much!

My org-capture-templates is set like this
[code]
and "~/note/note.org" is record like this
[code]
And what i expect now is the note.org file is not only in one "~/note/note.org" but in every project's root note.org file

[2020-05-03 00:40] singpolyma opened #48 "Adding all project-specfic files to org-agenda-files"
I tried to use the snippet in the README, but quickly found org complaining that many of the files did not exist (since not every folder on my computer with a .git contains a TODO.org).  Additionally, every time I reload my config I found that it would add copies of the files to the list again.  This snippet I'm using now may be a more complete suggestion for the README:

[code]

[2020-05-06 05:44] coppercu commented on #47
I found a way to implement config as mentioned before, which is ugry, but what just i need
[code]

[2020-05-09 01:43] #47 closed

[2020-05-28 05:05] komali2 commented on #44
...then why were you demanding the author fix it for you, with threats of rolling your own? lmao

[2020-05-29 20:42] xeijin commented on #44
@komali2 I'm not sure who you are, why you've decided you know -- and therefore can pass judgement on -- my intentions, why you've decided to publicly pick on a novice developer (hint: maybe someone on the same footing as you next time?) or even why you're replying to a comment that is almost a year old. What I do know is that you've contributed nothing to this thread and your comment doesn't refl

[2020-06-01 01:22] komali2 commented on #44
Ayy haha I love when people hit me with my own value page.

No need to get heated man, I just get tired of people picking on OSS/Libre software people and call it out when I see it. You did a good thing by coming back here and apologizing to Ivan.

[2020-12-01 15:50] chuckberrypi opened #49 "Set :immediate-finish to true?"
I have the following setup code to make it so that I can capture the text from a comment in my project to the Projectile to-do item:
[code]

As suggested in the title, I would like to set :immidiate-finish to true so that this just captures automatically. Is that possible? In the alternative, is it possible to create several projectile templates?

Thanks for the great package!

[2021-03-04 03:37] singpolyma opened #50 "Default category of TODO.org to project name"
It would be nice if there were some way to have per-project TODO files default their category to the project name.

[2021-08-30 21:25] evandavis opened #51 "Agenda view?"
I'm using `org-projectile` in single-file mode (projects todos go under project-name headlines in `~/Org/projects.org`.)

*Is there an easy way to view my todos filtered to the current project?*

I'm happy to add this in userland, but is this something that could be added to the package?

[2021-08-30 21:46] IvanMalison commented on #51
@evandavis use org categories? I believe that categories should be added to project headings automatically, but its been a while since I actually checked.

[2021-08-31 14:05] evandavis commented on #51
The category is added automatically, but I'm stuck trying to get the name of the current project into the category filter from the agenda dispatcher. Writing it out, I think this might be a better question for StackExchange...

[2021-08-31 22:02] IvanMalison commented on #51
Wdym by the current project. In the agenda dispatcher it may be hard to get some notion of the current project.

[2021-09-01 13:55] evandavis commented on #51
What I mean is this:

1. I'm editing a file in a known project, `my-project`.
2. From that buffer, I do `C-c a` to bring up the agenda dispatcher.
3. I press `p` to bring up `my-project` todos.

-----

I think what I actually want is for `org-projectile` to export an agenda view that I can bind to my projectile-map, like
[code]

[2021-09-01 19:12] IvanMalison commented on #51
Right, the problem is that you want an agenda command that is contextual i.e. it does something different depending on your current editing state. That's just not really possible as far as I remember with org-agenda.

That said, it's very easy to filter by category. It should also be possible to write a small custom bit of elisp to do what you want.

[2022-01-13 12:01] 2e0byo opened #52 "Melpa out of date"
Since emacs 29 deprecates `defmethod`, could a new version be pushed to melpa?  The current code on melpa is significantly behind this repository.  Alternatively a note could be added about `eieio-compat` in emacsen >= 29.

(I do realise that emacs 29 isn't stable yet, but I don't think this is going to go away.)

[2022-01-13 12:46] 2e0byo commented on #52
Sorry, this was a misunderstanding, I'd missed 634d148033ea9de7f8dffc4dece69820541e8bcf.

In the long run it looks like org-projectile would [need to switch from defmethod](https://github.com/emacs-mirror/emacs/blob/master/etc/NEWS#L96-L101).  Is anyone still using Emacs 24?

[2022-02-25 20:19] dustinlacewell opened #55 "(void-variable occ-get-categories)"
GNU Emacs 29.0.50 (build 1, aarch64-apple-darwin20.6.0, NS appkit-2022.60 Version 11.5.1 (Build 20G80))

When installing via `(use-package org-projectile)`:

[code]